/*FORMULARIO*/

.container {
    max-width: 800px;
}

h1 {
    text-align: center;
}

hr {
    border-color: $color-gris;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Para centrar verticalmente en toda la altura de la ventana */
}

.whatsapp-button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #25d366;

    /* Color de fondo de WhatsApp */
    color: #fff;

    /* Color del texto */
    border: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #128c7e;

        /* Cambio de color al pasar el mouse */
    }
}