/*HEADER / NAV*/

.navbar {
    background-color: $color-negro;
}

.navbar-nav li a {
    font-size: 15px;
    width: 48px;
    height: 48px;
}

.logoGim {
    width: 100px;
    border-radius: 50px;
}